/* #bodycontent{
  min-height: 60vh;
  background-color: #292b2b;
} */

.content{
  padding-top: 20px;
  background-color: white;
  margin-bottom: 3em;

}
#div2{
  min-height: 30vh;
  background-color: rgb(204, 222, 222);
}